/*Font Awesome*/

@import url("../font-awesome-4.3.0/css/font-awesome.min.css");

/*Fonts*/

@font-face {
    font-family: 'TerumoBCTBold';
    src: url('../fonts/terumobct_bd-webfont.eot');
    src: url('../fonts/terumobct_bd-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/terumobct_bd-webfont.woff') format('woff'), url('../fonts/terumobct_bd-webfont.ttf') format('truetype'), url('../fonts/terumobct_bd-webfont.svg#TerumoBCTBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TerumoBCTLight';
    src: url('../fonts/terumobct_lt-webfont.eot');
    src: url('../fonts/terumobct_lt-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/terumobct_lt-webfont.woff') format('woff'), url('../fonts/terumobct_lt-webfont.ttf') format('truetype'), url('../fonts/terumobct_lt-webfont.svg#TerumoBCTLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TerumoBCTItalic';
    src: url('../fonts/terumobct_rgit-webfont.eot');
    src: url('../fonts/terumobct_rgit-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/terumobct_rgit-webfont.woff') format('woff'), url('../fonts/terumobct_rgit-webfont.ttf') format('truetype'), url('../fonts/terumobct_rgit-webfont.svg#TerumoBCTItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TerumoBCTRegular';
    src: url('../fonts/terumobct_rg-webfont.eot');
    src: url('../fonts/terumobct_rg-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/terumobct_rg-webfont.woff') format('woff'), url('../fonts/terumobct_rg-webfont.ttf') format('truetype'), url('../fonts/terumobct_rg-webfont.svg#TerumoBCTRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TerumoBCTBoldItalic';
    src: url('../fonts/terumobct_bdit-webfont.eot');
    src: url('../fonts/terumobct_bdit-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/terumobct_bdit-webfont.woff') format('woff'), url('../fonts/terumobct_bdit-webfont.ttf') format('truetype'), url('../fonts/terumobct_bdit-webfont.svg#TerumoBCTBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TerumoBCTThin';
    src: url('../fonts/terumobct_th-webfont.eot');
    src: url('../fonts/terumobct_th-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/terumobct_th-webfont.woff') format('woff'), url('../fonts/terumobct_th-webfont.ttf') format('truetype'), url('../fonts/terumobct_th-webfont.svg#TerumoBCTThin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TerumoBCTBlack';
    src: url('../fonts/terumobct_bk-webfont.eot');
    src: url('../fonts/terumobct_bk-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/terumobct_bk-webfont.woff') format('woff'), url('../fonts/terumobct_bk-webfont.ttf') format('truetype'), url('../fonts/terumobct_bk-webfont.svg#TerumoBCTBlack') format('svg');
    font-weight: normal;
    font-style: normal;
}